name: ci

on: [push, pull_request]

env:
  minrust: 1.42.0

jobs:
  lint:
    name: Rustfmt and clippy
    runs-on: ubuntu-latest

    steps:
      - name: Install rust (stable)
        uses: hecrj/setup-rust-action@v1
        with:
          components: clippy, rustfmt

      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Run clippy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features -- -D warnings

      - name: Run rustfmt
        run: cargo fmt --all -- --check

  build_and_test:
    name: Build and test

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Install rust
        uses: hecrj/setup-rust-action@v1

      - name: Checkout
        uses: actions/checkout@v2

      - name: Fetch
        run: cargo fetch

      - name: Test
        run: cargo test --all-features

  minrust:
    name: MSRV
    runs-on: ubuntu-latest

    steps:
      - name: Install rust
        uses: hecrj/setup-rust-action@v1
        with:
          rust-version: ${{ env.minrust }}

      - name: Checkout
        uses: actions/checkout@v2

      - name: Check
        run: cargo check --verbose

  hpk-gtk:
    name: Check hpk-gtk
    runs-on: ubuntu-latest

    steps:
      - name: Install rust
        uses: hecrj/setup-rust-action@v1

      - name: Install gtk libs
        run: |
          sudo apt-get -yq --no-install-suggests --no-install-recommends install libgtk-3-dev

      - name: Checkout
        uses: actions/checkout@v2

      - name: Check hpk-gtk
        run: cargo check --manifest-path hpk-gtk/Cargo.toml

  makedeb:
    name: Check makedeb
    runs-on: ubuntu-latest

    steps:
      - name: Install rust
        uses: hecrj/setup-rust-action@v1

      - name: Setup Makedeb
        run: |
          wget -qO - 'https://proget.hunterwittenborn.com/debian-feeds/makedeb.pub' | gpg --dearmor | sudo tee /usr/share/keyrings/makedeb-archive-keyring.gpg &> /dev/null
          echo 'deb [signed-by=/usr/share/keyrings/makedeb-archive-keyring.gpg arch=all] https://proget.hunterwittenborn.com/ makedeb main' | sudo tee /etc/apt/sources.list.d/makedeb.list
          sudo apt-get update
          sudo apt-get install -y makedeb

      - name: Checkout
        uses: actions/checkout@v2

      - name: Build hpk
        run: cargo build --release

      - name: Build DEB
        run: makedeb -s --no-confirm

  nightly:
    name: Check nightly
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install rust (nightly)
        uses: hecrj/setup-rust-action@v1
        with:
          rust-version: nightly

      - name: Check hpk
        run: cargo check
